# Node modules
node_modules/

# Build directories
dist/
build/

# Vite
.vite/
vite.config.js

# Logs
*.log
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# Environment variables
.env
.env.*.local

# Next.js
.next/

# IDE specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Optional npm cache directory
.npm/

# Local environment files
local_settings/
*.local

# npm package lock files (optional, if you use yarn instead)
package-lock.json
